---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Front">
	<Header />

	<section class="w-full mt-[118px]">
		<img class="w-[100%] min-w-full max-h-min overflow-hidden absolute" src="/banner.jpg" alt="">

		<div class="flex justify-end pt-[700px] pr-[250px]">
			<a class="flex bg-white text-black rounded relative px-8 py-3 shadow hover:bg-black hover:text-white transition-all duration-200" href="">Chequeala acá</a>
		</div>

	</section>

	<section class="mt-[180px] flex px-36 items-center justify-between">
			<div class="w-[45%] min-h-full">
				<img class="rounded-t-lg object-cover w-full min-w-full" src="/banner2.jpg" alt="">
				<div class="text-center text-ellipsis shadow-lg rounded-b-lg h-[400px]">
					<h2 class=" text-xl pt-6 pb-2 font-extrabold">¡Probá la Pileta de Cheddar, che!</h2>
					<p class=" ml-[60px] mr-[60px] text-sm font-medium text-center">Pedí la nueva Pileta de Cheddar de McDonald's para enchufarle mucho, muchísimo cheddar a tus papitas, McNuggets y hamburguesa.</p>
				</div>
			</div>

			<div class="w-[45%] min-h-full">
				<img class="rounded-t-lg object-cover w-full min-w-full" src="/banner3.jpg" alt="">
				<div class="text-center text-ellipsis shadow-lg rounded-b-lg h-[400px]">
					<h2 class=" text-xl pt-6 pb-2 font-extrabold">¡Nueva Bacon Cheddar McMelt!</h2>
					<p class="  text-sm font-medium text-center">Llegó a McDonald's la nueva Bacon Cheddar McMelt, con mucho, muchísimo cheddar, che . Vení a probarla. Chequeadísimo que te va a encantar.</p>
					<div class="mt-16">
						<a class="bg-yellow-500 text-black rounded px-8 py-3 shadow hover:bg-yellow-600" href="">Chequeala acá</a>
					</div>
				</div>
			</div>
	</section>

	<section class="mt-[60px] flex px-36 items-center justify-between">
		<div class="w-[45%] min-h-full">
			<img class="rounded-t-lg object-cover w-full min-w-full" src="/banner4.png" alt="">
			<div class="text-center text-ellipsis shadow-lg rounded-b-lg h-[400px]">
				<h2 class=" text-xl pt-6 pb-2 font-extrabold">Los juguetes de The Marvels, de Marvel Studios aterrizaron en Cajita Feliz</h2>
				<p class=" ml-[60px] mr-[60px] text-sm font-medium text-center">¡Explorá el universo como Héroes y Heroínas junto a Cajita Feliz!</p>
				<div class="mt-16">
					<a class="bg-yellow-500 text-black rounded px-8 py-3 shadow hover:bg-yellow-600" href="">Ver mas</a>
				</div>
			</div>
		</div>

		<div class="w-[45%] min-h-full">
			<img class="rounded-t-lg object-cover w-full min-w-full" src="/banner5.jpg" alt="">
			<div class="text-center text-ellipsis shadow-lg rounded-b-lg h-[400px]">
				<h2 class=" text-xl pt-6 pb-2 font-extrabold">¡McCrispy Chicken con 100% pechuga de pollo!</h2>
				<p class=" ml-[60px] mr-[60px] text-sm font-medium text-center">Probá la McCrispy Chicken en sus versiones Classic, Deluxe y Cheddar & Bacon.</p>
				<div class="mt-16">
					<a class="bg-yellow-500 text-black rounded px-8 py-3 shadow hover:bg-yellow-600" href="">Ver mas</a>
				</div>
			</div>
		</div>
</section>

	
</Layout>
